################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlateSimulator/x64/Release/Asiana Universalis.pdb
/PlateSimulator/x64/Release/Asiana Universalis.lib
/PlateSimulator/x64/Release/Asiana Universalis.ipdb
/PlateSimulator/x64/Release/Asiana Universalis.iobj
/PlateSimulator/x64/Release/Asiana Universalis.exp
/PlateSimulator/x64/Release/Asiana Universalis.exe
/PlateSimulator/x64/Debug/Asiana Universalis.pdb
/PlateSimulator/x64/Debug/Asiana Universalis.lib
/PlateSimulator/x64/Debug/Asiana Universalis.ilk
/PlateSimulator/x64/Debug/Asiana Universalis.exp
/PlateSimulator/x64/Debug/Asiana Universalis.exe
/PlateSimulator/Debug/Asiana Universalis.pdb
/PlateSimulator/Debug/Asiana Universalis.ilk
/PlateSimulator/Asiana Universalis/x64/Release/vc141.pdb
/PlateSimulator/Asiana Universalis/x64/Release/Util.obj
/PlateSimulator/Asiana Universalis/x64/Release/Map.obj
/PlateSimulator/Asiana Universalis/x64/Release/Asiana Universalis.obj
/PlateSimulator/Asiana Universalis/x64/Release/Asiana Universalis.log
/PlateSimulator/Asiana Universalis/x64/Release/Asiana Universalis.Build.CppClean.log
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/link.write.1.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/link.read.1.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/link.command.1.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/CL.write.1.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/CL.read.1.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/CL.command.1.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/Asiana Universalis.write.1u.tlog
/PlateSimulator/Asiana Universalis/x64/Release/Asiana U.0420768F.tlog/Asiana Universalis.lastbuildstate
/PlateSimulator/Asiana Universalis/x64/Debug/vc141.pdb
/PlateSimulator/Asiana Universalis/x64/Debug/vc141.idb
/PlateSimulator/Asiana Universalis/x64/Debug/stdafx.obj
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana Universalis.pch
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana Universalis.obj
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana Universalis.log
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/link.write.1.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/link.read.1.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/link.command.1.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/CL.write.1.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/CL.read.1.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/CL.command.1.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/Asiana Universalis.write.1u.tlog
/PlateSimulator/Asiana Universalis/x64/Debug/Asiana U.0420768F.tlog/Asiana Universalis.lastbuildstate
/PlateSimulator/Asiana Universalis/Debug/Asiana Universalis.pch
/PlateSimulator/Asiana Universalis/Debug/Asiana Universalis.obj
/PlateSimulator/Asiana Universalis/Debug/Asiana Universalis.log
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/link.write.1.tlog
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/link.read.1.tlog
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/link.command.1.tlog
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/CL.write.1.tlog
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/CL.read.1.tlog
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/CL.command.1.tlog
/PlateSimulator/Asiana Universalis/Debug/Asiana U.0420768F.tlog/Asiana Universalis.lastbuildstate
/PlateSimulator/.vs/PlateSimulator/v16/Solution.VC.db-wal
/PlateSimulator/.vs/PlateSimulator/v16/Solution.VC.db-shm
/PlateSimulator/.vs/PlateSimulator/v16/Solution.VC.db
/PlateSimulator/.vs/PlateSimulator/v16/ipch/AutoPCH/f7ae35a62cea8c2d/UTIL.ipch
/PlateSimulator/.vs/PlateSimulator/v16/ipch/AutoPCH/a086a872582bc23b/ASIANA UNIVERSALIS.ipch
/PlateSimulator/.vs/PlateSimulator/v16/Browse.VC.opendb
/PlateSimulator/.vs/PlateSimulator/v16/Browse.VC.db
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PlateSimulator/v16/Browse.VC.db
/.vs/PlateSimulator/v16/.suo
/PlateSimulator/Asiana Universalis/Debug/vc141.pdb
/PlateSimulator/Asiana Universalis/Debug/vc141.idb
/PlateSimulator/Asiana Universalis/Debug/stdafx.obj
/PlateSimulator/.vs/PlateSimulator/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/PlateSimulator/v16/Browse.VC.opendb
