################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlateSimulator/x64/Release/Asiana Universalis.pdb
